.hero {
  min-height: 100vh;
  position: relative;
  background: url("/assets/bg_1.jpg") center center/cover no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(34, 34, 34, 0.5);
}

.hero>* {
  position: relative;
  z-index: 1;
}